Source: gsignond
Section: net
Priority: extra
Maintainer: Jussi Laako <jussi.laako@linux.intel.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               gtk-doc-tools,
               libdbus-1-dev,
               libglib2.0-dev (>= 2.30),
               libsqlite3-dev,
               pkg-config
Standards-Version: 3.9.4
Homepage: https://01.org/gsso
Vcs-Git: http://code.google.com/p/accounts-sso.gsignond/
Vcs-Browser: http://code.google.com/p/accounts-sso/source/browse/?repo=gsignond

Package: gsignond
Architecture: any
Depends: libgsignond-common0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: gSSO daemon and default plugins
 gSSO is a single sign-on framework, providing secure storage and single sign-on
  service.

Package: libgsignond-common0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Mutli-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: gSSO common library
 gSSO is a single sign-on framework, providing secure storage and single sign-on
  service.

Package: libgsignond-common-dev
Architecture: any
Section: libdevel
Depends: libglib2.0-dev (>= 2.30),
         libgsignond-common0 (= ${binary:Version}),
         libsqlite3-dev,
         ${misc:Depends},
         ${shlibs:Depens}
Description: development files for gsignond
 Headers and libraries necessary for developing plugins and extensions.

Package: gsignond-doc
Architecture: all
Section: doc
Suggests: devhelp
Description: documentation for gsignond
 Developer documentation for developing plugins and extensions.
